{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"><img class="nav-img" src="{% static 'imgs/F1 pickem logo.png' %}" alt="F1"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'team-list' %}active{% endif %}" href="{% url 'team-list' %}">Constructors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'schedule-list' %}active{% endif %}" href="{% url 'schedule-list' %}">Schedule</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'my-picks' %}active{% endif %}" href="{% url 'my-picks' %}">My Picks</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'leaderboard' %}active{% endif %}" href="{% url 'leaderboard' %}">Leaderboard</a>
        </li>
      </ul>
      <div class="d-flex ms-auto">
        {% if user.is_authenticated %}
        <div class="nav-item dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" role="button" data-bs-toggle="dropdown">
            {{ user.username }}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'profile_update' %}">Update Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>
        {% else %}
        <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
        <a class="btn btn-outline-primary" href="{% url 'register' %}">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>