{% extends 'base.html' %}

{% load static %}

{% block title %}Login - Apex Picks{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block content %}
<div class="login">

    <form method="post">
        {% csrf_token %}

        <h1>Login</h1>

        {{ form.as_p }}

        <button class="btn btn-outline-primary" type="submit">Login</button>

        <div class="login-links">
            <a href="{% url 'password_reset' %}">Forgot your password?</a>
        </div>
    </form>
</div>
{% endblock content %}